@model _30sep.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genredescirption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genredescirption)
        </dd>

    </dl>
</div>
<p class="dl-horizontal" >

    @if(User.Identity.IsAuthenticated)
    {
        
         @Html.ActionLink("Edit", "Edit", new { id = Model.GenreId })
    <span>|</span>
    }
    
    
        @Html.ActionLink("Back to List", "Index")
        
    
</p>
