
@model IEnumerable<_30sep.Models.Review>

@{
    ViewBag.Title = "Index";
}
@using Microsoft.AspNet.Identity;


<h2>Reviews</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) 
            @if (User.Identity.IsAuthenticated)
            {

                if (User.Identity.GetUserId() == item.UserId)
                { 
                    <span>|</span>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId })
                   <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })  
                }
            }
            
        </td>
    </tr>
}

</table>
